.titulo {
  color: limegreen;
  background-color: black;
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mayusculas {
  text-transform: uppercase;
}

.btn {
  display: block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 14px;
  border-radius: .25rem;

  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.card {
  margin-top: 10px;
  border: 0.4px solid black;
  border-radius: 3px;
  width: 30%;
}

.status {
  display: inline-block;
  padding:  2px 7px;
  color: black;
  background-color: #f2f2f2;
  border: 0.4px solid #d8d8d8;
  border-radius: .25rem;
  transition-duration: 0.3s;
  cursor: pointer;
}
.status.primary {
  color: blue;
}
.status.secondary {
  color: gray;
}
.status:hover {
  background-color: #e6e6e6;
}